<!-- benefits.html -->
    <div id="benefits" class="translucent-box-up">
        <!-- Beneficios -->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <!-- Paso 1 -->
                    <div class="col text-center mb-4 section-item">
                        <i class="bi bi-cash-stack" style="font-size: 50px; color: #FFD700;"></i>
                        <h5 class="mt-3 text-gold">Pago Inmediato</h5>
                        <p>Recibe el pago de tu cabello al instante, sin complicaciones y de forma segura.</p>
                    </div>
                    <!-- Paso 2 -->
                    <div class="col text-center mb-4 mx-2 section-item">
                        <i class="bi bi-shield-lock" style="font-size: 50px; color: #FFD700;"></i>
                        <h5 class="mt-3 text-gold">Proceso Seguro</h5>
                        <p>Tu seguridad y privacidad son nuestra prioridad. Confía en nosotros para una transacción
                            segura.</p>
                    </div>
                    <!-- Paso 3 -->
                    <div class="col text-center mb-4 section-item">
                        <i class="bi bi-people" style="font-size: 50px; color: #FFD700;"></i>
                        <h5 class="mt-3 text-gold">Atención Personalizada</h5>
                        <p>Una vez aceptada la oferta, ¡recibe tu pago de inmediato a través de Nequi, Tranfiya o en
                            efectivo! Un equipo de expertos listo para brindarte la mejor experiencia y resolver todas
                            tus dudas.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
    export default {
        
    }
    </script>
