<!-- benefits.html -->
<div id="how-to" class="translucent-box-down">
        <!-- Instrucciones para la Compra de Cabello -->
    <section class="py-1">
        <div class="container">
            <h2 class="text-center text-gold mb-4">¿Cómo Compramos Tu Cabello?</h2>
            <p class="text-center text-light mb-6">Te explicamos el proceso de manera sencilla, rápida y
                transparente.</p>
            <div class="row ">
                <!-- Paso 1 -->
                <div class="col text-center mb-4 section-item">
                    <i class="bi bi-phone" style="font-size: 50px; color: #FFD700;"></i>
                    <h5 class="mt-3 text-gold">1. Contáctanos</h5>
                    <p>Envíanos un mensaje o llámanos para iniciar el proceso. Nuestro equipo está disponible para
                        ayudarte.</p>
                </div>
                <!-- Paso 2 -->
                <div class="col text-center mb-4 mx-2 section-item">
                    <i class="bi bi-search" style="font-size: 50px; color: #FFD700;"></i>
                    <h5 class="mt-3 text-gold">2. Evalúa tu Cabello</h5>
                    <p>Te ayudamos a conocer el valor de tu cabello con una evaluación personalizada. ¡Recibe una
                        oferta justa y transparente!</p>
                </div>
                <!-- Paso 3 -->
                <div class="col text-center mb-4 section-item">
                    <i class="bi bi-credit-card" style="font-size: 50px; color: #FFD700;"></i>
                    <h5 class="mt-3 text-gold">3. Recibe tu Pago</h5>
                    <p>Una vez aceptada la oferta, recibe tu pago inmediatamente por Nequi, Tranfiya o en efectivo.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
